<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div>
        <p><input type="text" v-model="a"></p>
        <p><input type="text" v-model="b"></p>
        <p><input type="button" @click="handle" value="计算"></p>
    </div>
    <p>计算结果为：<span v-text="result"></span></p>
</div>    

<script src="./js/vue.js"></script>
<script type="text/javascript">
    Vue.config.keyCodes.a = 65;
    var vm = new Vue({
        el: "#app",   // 元素挂载位置（值可以是css选择器或者DOM元素）
        data: {       // 模型数据（值是一个对象）
            a: '',
            b: '',
            result: ''
        },
        methods: {
            handle(event){ // ES6语法
                // 简单算法
                this.result = parseInt(this.a) + parseInt(this.b);
            }
        },
    })
</script>
</body>
</html>