<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .p15{
            padding: 15px;
        }
        table{
            width: 100%;
            border: 1px solid #cccccc;
        }
        table thead {
            background-color: burlywood;
        }
        th,td{
            text-align: center;
            padding: 10px;
            border: 1px solid #cccccc;
        }
        .total{
            text-align: center;
            margin-bottom: 5px;
        }
        .form{
            margin-bottom: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="form">
            <label for="idName">编号：</label>
            <input type="number" v-model="idName" id="idName" :disabled="flag" v-focus>
            <label for="name">名称: </label>
            <input type="text" id="name" v-model="name">
            <input type="button" value="提交" @click="submitInfo" :disabled="sflag">
        </div>
        <div class="total">数据总数：{{ total }}</div>
        <table>
            <thead>
                <th>编号</th>
                <th>名称</th>
                <th>时间</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr v-for="(item,index) in list" :key="item.id">
                    <td v-text="item.id"></td>
                    <td v-text="item.name"></td>
                    <td>{{ item.date | format('yyyy/MM/dd') }}</td>
                    <td>
                        <a href="#" @click.prevent="edit(item.id)">修改</a> | 
                        <a href="#" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="./js/vue.js"></script>
    <script>
        // 自定义指令操作
        Vue.directive('focus', {
            inserted(el){
                // el表示指令所绑定的元素（获取元素焦点）
                el.focus();
            }
        })

        // 带参过滤器 (格式化时间)
        Vue.filter('format',function(date, fmt){
            function padLeftZero(str) {
                return ('00' + str).substr(str.length);
            }
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            let o = {
                'M+': date.getMonth() + 1,
                'd+': date.getDate(),
                'h+': date.getHours(),
                'm+': date.getMinutes(),
                's+': date.getSeconds()
            };
            for (let k in o) {
                if (new RegExp(`(${k})`).test(fmt)) {
                let str = o[k] + '';
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : padLeftZero(str));
                }
            }
            return fmt;
        });
    
        var vm = new Vue({
            el: '#app',
            data: {
                idName: '',
                name: '',
                flag: false,
                sflag: false,
                list: [{
                    id: 1,
                    name: 'javascript',
                    date: new Date()
                },{
                    id: 2,
                    name: 'java',
                    date: new Date()
                },{
                    id: 3,
                    name: 'vue',
                    date: new Date()
                }],
            },
            methods: {
                submitInfo(){
                    if(this.flag){
                        // 使用箭头表单式解决 this 的问题
                        this.list.some((item) => {
                            if(item.id == this.idName){
                                item.name = this.name;
                                item.date = new Date(); 
                                // 完成更新操作之后，需要终止循环
                                return true; // true相当于break   false相当于continue
                            }
                        });
                        this.flag = false;
                    } else {
                        this.list.push({
                            id: this.idName,
                            name: this.name,
                            date: new Date()
                        })
                    }
                    // 清空表单信息
                    this.idName = '';
                    this.name = '';
                },
                del(id){
                    // 传递值为索引
                    // this.list.splice(index,1);

                    // 根据id查找索引
                    // var index = this.list.findIndex((item) => {
                    //     return item.id == id;
                    // })
                    // this.list.splice(index,1);
                    // ------------- 方法2：通过filter方法进行删除 -------------
                    this.list = this.list.filter(item => {
                        return item.id != id;
                    })
                },
                edit(id){
                    // 传递值为索引
                    // this.idName = this.list[index].id;
                    // this.name = this.list[index].name;

                    // 传递值为id
                    var obj = this.list.filter(function(item){
                        return item.id == id;
                    })
                    console.log(obj);
                    // 值填充到输入框
                    this.idName = obj[0].id;
                    this.name = obj[0].name;
                    // 禁止修改id
                    this.flag = true;
                }
            },
            computed: {
                total(){
                    // 计算图书总数
                    return this.list.length;
                }
            },
            watch: {
                name(val){
                    // 验证图书名称是否存在
                    var flag = this.list.some((item) => {
                        return item.name == val;
                    });
                    if(flag){
                        // 名称存在
                        this.sflag = true;
                    } else {
                        // 名称不存在
                        this.sflag = false;
                    }
                }
            },
            mounted() {
                // 该生命周期的钩子函数被触发时，模板已经可以使用
                // 一般此时用于获取后台数据，然后把数据填充到模板中
                
                // 模拟后台返回的数据
                var data = [{
                    id: 1,
                    name: '三国演义',
                    date: new Date()
                },{
                    id: 2,
                    name: '西游记',
                    date: new Date()
                },{
                    id: 3,
                    name: '红楼梦',
                    date: new Date()
                },{
                    id: 4,
                    name: '水浒传',
                    date: new Date()
                }]
                this.list = data;
            },
        });

    </script>
</body>
</html>